<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SeaData.WPF.Properties.Settings.ConnectionString"
            connectionString="Data Source=410-080153\SQLEXPRESS;Initial Catalog=SeaDataTestTask;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7" />
    </startup>
</configuration>